@import "../../../common/css/function";
@mixin my-border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;;
}
.top-content{
  .login-content-top{
    position: absolute;
    width:100%;
    height:100%;
    @include animateTime(.3s,0s);
    top:-100%;
    #main{
      z-index:16;
    }
  }
  .login-content-top.showLoginContent{
    /*transform: translateY(100%);*/
    top:0px;
  }
  .login-content-top:before{
    content: ' ';
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: rgba(0,0,0,0.8);
    z-index:15;
  }
  .ivu-input-wrapper{
    width:90%;
    margin-left:10%;
  }
  .ivu-breadcrumb-item-link:hover{
    cursor: pointer;
    color: #62247f;
  }
  .globalnav{
    z-index:9;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: fixed;
    top:34px;
    width:100%;
    background: #f1f1f1;
    height:calc(100vh - 34px);
    -webkit-transition: -webkit-transform .7s cubic-bezier(.19, 1, .22, 1) 0ms;
    transition: -webkit-transform .7s cubic-bezier(.19, 1, .22, 1) 0ms;
    transition: transform .7s cubic-bezier(.19, 1, .22, 1) 0ms;
    transition: transform .7s cubic-bezier(.19, 1, .22, 1) 0ms, -webkit-transform .7s cubic-bezier(.19, 1, .22, 1) 0ms;
    .globalnav-menu{
      border:1px solid #ececec;
      padding: 15px;
      background: #fff;
    }
  }
  .globalnav-hidden{
    transform: translate3d(0,-100%,0);
    -webkit-transition: -webkit-transform .7s cubic-bezier(.19, 1, .22, 1) 0ms;
    transition: -webkit-transform .7s cubic-bezier(.19, 1, .22, 1) 0ms;
    transition: transform .7s cubic-bezier(.19, 1, .22, 1) 0ms;
    transition: transform .7s cubic-bezier(.19, 1, .22, 1) 0ms, -webkit-transform .7s cubic-bezier(.19, 1, .22, 1) 0ms;
  }
  .header-bar{
    position: relative;
    z-index:10;
    height:22px;
    background: rgba(29,147,143,.8);
    padding:6px 0;
    font-size:14px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: #fff;
    .grid_6:first-child{
      display: flex;
      .login-content{
        padding:5px;
       @include my-border-radius(5px);
        .ivu-icon-arrow-down-b{
          transition: all .2s ease-in-out;
          transform: rotate(90deg);
        }

      }
      .login-content:hover{
        cursor: pointer;
        background: rgba(29,147,143,.9);
      }
      .roateIcon{
        .ivu-icon-arrow-down-b{
          transform: rotate(0deg);
        }
      }
    }
    span{
      font-weight: 700;
    }
    .headRight{
      font-size:100%;
      text-align: right;
      .basketCount{
        margin-left:5px;
      }
    }
  }
  .top-topcontent{
    height:85px;
    .container_12{
      .book-info{
        position: relative;
      .img-logo{
        margin-top:8px;
        background: url("../../../assets/logo.png");
        width:330px;
        height:65px;
        -webkit-background-size:cover;
        background-size:cover;
      }
      .all-book-content{
        position: absolute;
        right:6%;
        top:0;
        margin-top:1.6em;
        .all-book-count{
          font-size: 1.5em;
          color: #8e79ad;
          font-weight:700;
        }
        .all-book-item{
          font-size:1.0em;
          color: #aaa;
          font-weight:700;
        }
      }
      }
      .select-info{
        .select-input{
          margin-top:29px;
          .ivu-input-group-prepend{
            background: white;
          }
          .ivu-input-group-prepend:hover{
            border:1px solid #62247f;
          }
          .ivu-icon-arrow-down-b:before{
            color: #aaa;
          }
          .ivu-input-group-append{
            background: #62247f;
          }
          .ivu-btn.ivu-btn-icon-only{
            background: #62247f;
            border-radius: 0px;
            padding:4.5px 15px;
          }
          .ivu-icon{
            color: white;
          }
        .ivu-icon-ios-search:before {
          font-weight: 700;
          font-size: 20px;
        }
        }
      }
      .advanced-search{
        margin-top:4px;
        font-size: 16px;
        font-weight:700;
        text-align: right;
        color: rgba(0,0,0,0.4);
      }
      .advanced-search:hover{
        cursor: pointer;
        color: #62247f;
      }
    }
  }
  .top-centercontent{
    margin-top:10px;
    position: relative;
    .nav{
      background: #755B99;
      height:40px;
      .nav-inner{
        position: relative;
        table-layout: fixed;
        border-right:1px solid #fff;
        display: table;
        ul{
          display: table-row;
          li{
            position: relative;
            transition: all 0.1s ease-in-out 0s;
            font-weight:700;
            font-size:15px;
            color: white;
            display: table-cell;
            border-left:1px solid #fff;
            text-align: center;
            list-style-type: none;
            width: 60px;
            height:40px;
            line-height:40px;
            cursor: pointer;
            a{
              color: white;
            }
          }
          .extra-content{
            position: absolute;
            border:1px solid #ccc;
            padding:0px 5px;
            width:100%;
            background: #755B99;
            z-index:10;
            height:0%;
            transition: all .3s ease;
            //防止height为0时，字体不消失
            overflow: hidden;
          }
          li.active{
            background: #5c4280;
          }
          li:hover,.extra-content:hover{
            background: #5c4280;
          }
          li:nth-child(3):hover{
            .extra-content{
              height:100%;
            }
          }
        }
      }
    }
  }


  .top-bottomcontent{
    height:44px;
     .contact-content{
       border: 1px solid #ccc;
       min-height:30px;
       position: relative;
       padding:6px 10px;
       @include my-border-radius(3px);
       margin-top:8px;
       .nav-info{

       }
       .contact-info{
         text-align: right;
         position: absolute;
         right:1%;
         top:0;
         margin-top:5px;
       }
     }
   }

}
