@import '../../common/css/function';
.showNewsPage{
  position: relative;
  width:100%;
  border:1px solid #ccc;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  padding:10px 15px;
  line-height: 150%;
  font-size:18px;
  hr{
    width:95%;
    width:calc( 100% - 30px);
    border-top: 1px solid #ddd;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-top: .7rem;
    margin-bottom: .7rem;
  }
  .tempContent{
    display: flex;
  }
  .newTime{
    position: absolute;
    right:15px;
  }
  .newTitle{
    @include animateTime(.1s,0s);
  }
  .ivu-icon-sad-outline{
    font-size: 50px;
    color: #755d97;
  }
  .no-news-content{
    .content{
      text-align: center;
      span{
        position: relative;
        top:-10px;
        font-size: 23px;
        font-weight: 500;
        text-shadow: #ccc 1px 1px;
        color: #755d97;
      }
    }
  }
  .newTitle:hover{
    color: lightskyblue;;
    cursor: pointer;
  }
}
