html,body,#app{
  position: relative;
  background: #f1f1f1;
  width: 100%;
  height:100%;
  min-width:996px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 996px;
  .grid_6{
    width:478px;
  }
  .grid_7{
    width:561px
  }
  .grid_5{
    width:395px
  }
  .grid_12{
    width:976px
  }
}
.ivu-select.ivu-select-visible.ivu-select-single {
  border-color: #6a4f90;
  box-shadow: 0 0 0 2px rgba(95,70,133,.2);
}
.ivu-select-item-selected, .ivu-select-item-selected:hover,ivu-select-selection:hover,ivu-breadcrumb a:hover {
  background: #6a4f90;
}
.ivu-input:focus, .ivu-select-selection:focus{
  box-shadow: 0px 0px 0px #bdbdbd;
  border-color: #6a4190;
}
.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab-active{
  color: #6a4190;
}
.ivu-breadcrumb-item-link:hover{
  color: #6a4190!important;
}
.ivu-input:hover{
  box-shadow: 0px 0px 0px #bdbdbd;
  border-color: #6a4190;
}
.search-input{
  display: flex;
}
.container_12:before, .container_12:after{
   content: " ";
  display: table;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11{
  display: inline;
  float:left;
  margin-left:10px;
  margin-right:10px;
}
.icon-wenhao{
  color: dodgerblue;
  line-height:160%;
}
.title-font{
  font-size: 16px;
  font-weight:700;
}
.animateClass{
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}
.ivu-tabs-nav .ivu-tabs-tab-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover{
  color: #6a4f90;
  border-bottom: 2px solid #6a4f90;
}
.ivu-tabs-ink-bar{
  background: #62247f;
}
.ivu-tabs-nav .ivu-tabs-tab:hover{
  color: #62247f;
}
.ivu-checkbox-checked .ivu-checkbox-inner{
  border-color: #514685;
  background-color:#514685;
}
.ivu-checkbox-checked .ivu-checkbox-inner{
  border-color: #514685;
}
@keyframes ani-demo-spin {
  from { transform: rotate(0deg);}
  50%  { transform: rotate(180deg);}
  to   { transform: rotate(360deg);}
}
.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}

@media (min-width: 1146px) {
  .container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1128px;
    .grid_6{
      width:544px
    }

    .grid_7{
      width:638px
    }

    .grid_5{
      width:450px
    }
    .grid_12{
      width:1108px
    }
  }
}

