#library-mainpage{
  display: flex;
  flex-flow: column;
  min-height:100vh;
  .flex-content{
    flex:1;
  }
  footer{
    height: 20px;;
    background: #f0f0f0;
    .company-info{
      font-size:14px;
      text-align: center;
    }
  }
}
