@import '../../common/css/function';
.book-list{
  margin-top:5px;
  .ivu-page.mini {
    float: right;
    position: absolute;
    top: 5px;
    right: 0px;
  }
  .no-book-class{
    text-align: center;
    color: #ccc;
    font-size: 18px;
    font-weight: 700;
  }
  .book-list-content {
    will-change: transform;
    position: relative;
    @include my-border-radius(3px);
    border: 1px solid #ccc;
    padding: 6px 10px;
    .result-size {
      font-size: 15px;
      margin-bottom: 5px;
    }
    .book-item {

      .temp_class{
       // min-height:300px;
      position: relative;
      border: 1px solid #ccc;
      border-bottom: 0px;
      padding: 5px 10px;
      width: 100%;
      display: flex;
      .book-img {
        margin-top:20px;
        width: 140px;
        height: 215px;
        display: table;
        .bottom-content {
          display: table-cell;
          vertical-align: middle;
          img {
            max-width: 140px;
            max-height: 215px;
            @include animateTime(.3s,0s);
          }
          img:hover{
            cursor: pointer;
            transform: scale(1.2);
          }
        }

      }

      .book-introduce-content {
        position: relative;
        padding: 5px 10px;
        border-spacing: 4px;
        flex:1 1 30%;
        margin-left:15px;
        .book-name {
          margin-top:5px;
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        .book-item-info {
          margin-top: 5px;
          line-height: 130%;
          width:100%;
          .left-info, .right-info {
            width:40%;
            min-width: 210px;
            font-weight: 500;
            display: inline-block;
          }
        }
      }
      .book-sign-img {
        position: absolute;
        right: 10px;
        margin-top: 3%;
        .ivu-poptip{
          display: block;
        }
        .sign-img-content {
          img {
            width: 64px;
            height: 64px;
            @include my-border-radius(10px)
          }
        }
        .sign-img-content:last-child {
          margin-top: 20px;
        }
      }
    }
  }
    .book-item:last-child{
      border-bottom:1px solid #ccc;
    }
  }

}
